<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- BookRepository and BookService beans -->
    <bean id="bookRepository" class="com.library.librarymanagement.BookRepository"/>
    <bean id="bookService" class="com.library.librarymanagement.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Logging Aspect Bean -->
    <bean id="loggingAspect" class="com.library.librarymanagement.aspect.LoggingAspect"/>

    <!-- Enable AOP -->
    <aop:config>
        <aop:aspect id="logger" ref="loggingAspect">
            <aop:around method="logExecutionTime"
                        pointcut="execution(* com.library.librarymanagement.*.*(..))"/>
        </aop:aspect>
    </aop:config>

</beans>
